<div class="container my-4">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="display-6 mb-4">Horas Predefinidas</h1>
      <div class="mb-4">
        <button class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#createAppointmentModal">
          Crear Hora de Turno
        </button>
      </div>
      <div class="table-container">
        <table id="appointmentTable" class="table table-bordered table-hover table-lg display">
          <thead class="table-primary text-center">
          
          </thead>
          
        </table>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="createAppointmentModal" tabindex="-1" aria-labelledby="createAppointmentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="createAppointmentModalLabel">Crear Hora de Turno</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="startTime" class="form-label">Hora de Inicio</label>
          <input type="time" class="form-control" id="startTime" #startTime>
        </div>
        <div class="mb-3">
          <label for="endTime" class="form-label">Hora de Fin</label>
          <input type="time" class="form-control" id="endTime" #endTime>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="createAppointmentTime()" data-bs-dismiss="modal">Confirmar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteModal">Eliminar Hora de Turno</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Está seguro de que desea eliminar la hora de turno: {{selectedAppointment?.startTime}} - {{selectedAppointment?.endTime}}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button (click)="deleteAppointmentTime()" type="button" class="btn btn-primary" data-bs-dismiss="modal">Eliminar</button>
      </div>
    </div>
  </div>
</div>
