<div class="d-flex flex-column-reverse justify-content-between gap-3 flex-md-row align-items-md-center">
  <div class="text-capitalize">
    <h1 class="h3 text-gray-900">Peluquería</h1>
  </div>
  <div class="d-flex align-items-center">
    <button (click)="activarSidebar()" class="btn btn-outline-secondary d-grid align-items-center d-xl-none" type="button">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-list h-6 w-6 text-gray-500" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
      </svg>
    </button>
  </div>
</div>
