<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="display-6 mb-3">Horarios</h1>
      <button (click)="addSchedule(null)" class="btn btn-primary mb-3"><i class="bi bi-plus-square"></i> Crear Horario</button>
      <div class="row">
        <div *ngFor="let schedule of schedules" class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex align-items-stretch">
          <div class="relative flex flex-col bg-clip-border rounded-xl bg-light p-4 shadow-sm overflow-hidden">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title mb-3">{{ schedule.name }}</h5>
              <div class="appointment-times-container mt-3">
                <div *ngFor="let appointmentTime of schedule.appointmentTimes" class="appointment-time-item">
                  <span class="badge bg-primary">{{ appointmentTime.startTime }} </span>
                </div>
              </div>
            </div>
            <div class="btn-container d-flex justify-content-between p-2 mt-auto">
              <button (click)="addSchedule(schedule)" class="btn btn-outline-success flex-fill me-2">
                <i class="bi bi-pencil"></i> Editar
              </button>
              <button (click)="deleteSchedule(schedule)" class="btn btn-outline-danger flex-fill">
                <i class="bi bi-trash"></i> Eliminar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteModal">Eliminar Hora</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete the product:?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Eliminar</button>
      </div>
    </div>
  </div>
</div>