<div class="calendar text-center bg-dark">
    <div class="d-flex justify-content-between align-items-center header">
      <button (click)="previousMonth()" class="nav-button">&larr;</button>
      <h2>{{ monthYear }}</h2>
      <button (click)="nextMonth()" class="nav-button">&rarr;</button>
    </div>
    <table class="table table-dark table-borderless">
      <thead>
        <tr>
          <th>Sun</th>
          <th>Mon</th>
          <th>Tue</th>
          <th>Wed</th>
          <th>Thu</th>
          <th>Fri</th>
          <th>Sat</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let week of weeks">
            <td class="td" *ngFor="let day of week" [class.selected]="canSelectDay(day)" [class.disabled]="isDisabledDay(day)" [class.disabledFutureDay]="isBlockedFuruteDay(day)">
                <button class="button-none btn-calendar" [disabled]="isDisabledDay(day) || isBlockedFuruteDay(day)"  (click)="selectDay(day); $event.preventDefault()">
                    {{ day }}
                </button>
            </td>
        </tr>
        
      </tbody>
    </table>
  </div>